body {
	background-color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.container {
	max-width: 740px;
	width: 80%;
	margin: 0 auto;
}

#title {
	background-color: white;
	border-radius: 32px;
}

#heading {
	font-size: 28pt;
	padding: 30px 0;
	text-align: center;
}

.post {
	background-color: white;
	border-radius: 8px;
	margin: 30px 0;
}

.head {
	padding: 10px;
	font-size: 2rem;
	text-transform: uppercase;
}

.body {

}

.content {
	text-align: justify;
	margin-left: 10px;
	font-size: 1.2rem;
}

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
	font-size: 0.9rem;
}
