:root {
    --light-gray: #EEE;
    --gray: #333;
    --developer: #1572A1;
    --designer: #CD5D7D;
    --writer: #F38BA0;
    --film: #54BAB9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
}

.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.wrapper {
    /* fixed width at 25% */
    width: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

#profile {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

header {
    margin: 30px 0;
}

header>small {
    color: var(--gray)
}

p {
    margin-top: 20px;
}

#social {
    width:100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#social i {
    font-size: 2em;
    margin: 5px;
}

#categories {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#categories a {
    margin: 0;
}

#highlights {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#highlights > a:not(:first-child) {
    margin-top: 10px;
}

a.btn {
    text-decoration: none;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}

.btn:hover {
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-inverse {
    color: black !important;
}

.bg-developer {
    background-color: var(--developer)
}

.bg-designer {
    background-color: var(--designer)
}

.bg-writer {
    background-color: var(--writer)
}

.bg-film {
    background-color: var(--film)
}

.bg-resume {
    border: 1px solid var(--gray);
}

main {
    flex-grow: 1;
    background-color: var(--light-gray);
    /* min-height: 100vh; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.box {
    background-color: white;
    border-radius: 10px;
    min-height: 150px;
    padding: 10px 20px;
}

.box p {
    margin-top: 5px;
}